:root {
  --season-1: rgba(208, 154, 20, 0.3);
  --season-2: rgba(199, 48, 45, 0.3);
  --season-3: rgba(102, 175, 71, 0.3);
  --season-4: rgba(3, 110, 182, 0.3);
  --season-5: rgba(6, 179, 156, 0.3);
  --season-6: rgba(105, 17, 58, 0.3);
  --season-7: rgba(170, 170, 170, 0.3);

  --season-1-hover: rgba(208, 154, 20, 0.6);
  --season-2-hover: rgba(199, 48, 45, 0.6);
  --season-3-hover: rgba(102, 175, 71, 0.6);
  --season-4-hover: rgba(3, 110, 182, 0.6);
  --season-5-hover: rgba(6, 179, 156, 0.6);
  --season-6-hover: rgba(105, 17, 58, 0.6);
  --season-7-hover: rgba(170, 170, 170, 0.6);
}

* {
  box-sizing: border-box;
}

/* watch out for accecebility */
*:focus {
  outline: 0;
}

img,
svg {
  width: 100%;
  height: auto;
}

body {
  min-height: 100%;
  background-color: black;
  font-size: 0;
  line-height: 0;
  position: relative;
  font-family: "Times New Roman", Times, serif;
}

#wrapper {
  padding-left: 12vw;
  padding-right: 12vw;
}

#seasons {
  width: 100%;
  height: 100vh;

  white-space: nowrap;
  display: inline-flex;
  font-size: 1rem;
  line-height: 1.5rem;
  position: relative;
}

#seasons::after {
  content: "";
  background-image: url("img/main_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

header {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
  pointer-events: none;
}

header h1 {
  font-size: 1.1rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin: 5vw 0 2rem;
  letter-spacing: 3px;
}

header img {
  max-width: 650px;
  padding: 0 3vw 0;
  height: auto;
  display: block;
  margin: 0 auto;
}

.compressed {
  width: 2.5vw;
}

.season {
  height: 100vh;
  transition: 0.3s;
  position: relative;
}

.overview {
  width: 10.857vw;
}

.zoomview {
  width: 80vw;
}

.season_nr {
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  bottom: 10vh;
}

#season_1:hover,
#season_1.setcolor {
  background-color: var(--season-1);
}

#season_2:hover,
#season_2.setcolor {
  background-color: var(--season-2);
}

#season_3:hover,
#season_3.setcolor {
  background-color: var(--season-3);
}

#season_4:hover,
#season_4.setcolor {
  background-color: var(--season-4);
}

#season_5:hover,
#season_5.setcolor {
  background-color: var(--season-5);
}

#season_6:hover,
#season_6.setcolor {
  background-color: var(--season-6);
}

#season_7:hover,
#season_7.setcolor {
  background-color: var(--season-7);
}

#season_1.compressed,
#season_2.compressed,
#season_3.compressed,
#season_4.compressed,
#season_5.compressed,
#season_6.compressed,
#season_7.compressed {
  background-color: #000;
  border-left: 1px rgb(53, 53, 53) solid;
}

#season_7.compressed {
  border-right: 1px rgb(53, 53, 53) solid;
}

#season_1.compressed:hover {
  background-color: var(--season-1-hover);
}

#season_2.compressed:hover {
  background-color: var(--season-2-hover);
}

#season_3.compressed:hover {
  background-color: var(--season-3-hover);
}

#season_4.compressed:hover {
  background-color: var(--season-4-hover);
}

#season_5.compressed:hover {
  background-color: var(--season-5-hover);
}

#season_6.compressed:hover {
  background-color: var(--season-6-hover);
}

#season_7.compressed:hover {
  background-color: var(--season-7-hover);
}
