:root {
  --season-1: rgba(208, 154, 20, 0.3);
  --season-2: rgba(102, 175, 71, 0.3);
  --season-3: rgba(199, 48, 45, 0.3);
  --season-4: rgba(3, 110, 182, 0.3);
  --season-5: rgba(6, 179, 156, 0.3);
  --season-6: rgba(105, 17, 58, 0.3);
  --season-7: rgba(170, 170, 170, 0.3);

  --season-1-hover: rgba(208, 154, 20, 0.6);
  --season-2-hover: rgba(102, 175, 71, 0.6);
  --season-3-hover: rgba(199, 48, 45, 0.6);
  --season-4-hover: rgba(3, 110, 182, 0.6);
  --season-5-hover: rgba(6, 179, 156, 0.6);
  --season-6-hover: rgba(105, 17, 58, 0.6);
  --season-7-hover: rgba(170, 170, 170, 0.6);
}

* {
  box-sizing: border-box;
}

/* watch out for accecebility */
*:focus {
  outline: 0;
}

img,
svg {
  width: 100%;
  height: auto;
}

body {
  min-height: 100%;
  background-color: black;
  font-size: 0;
  line-height: 0;
  position: relative;
  font-family: "Times New Roman", Times, serif;
}

#wrapper {
  padding-left: 15vw;
  padding-right: 15vw;
  position: relative;
}

#temp {
  width: 0;
  height: 0;
  overflow: hidden;
}

#seasons {
  width: 100%;
  height: 100vh;
  white-space: nowrap;
  display: inline-flex;
  font-size: 1rem;
  line-height: 1.5rem;
  position: relative;
}

#seasons::after {
  content: "";
  background-image: url("img/main_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

header {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
  pointer-events: none;
}

header h1 {
  font-size: 1.1rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin: 5vw 0 2rem;
  letter-spacing: 3px;
}

header img {
  max-width: 650px;
  padding: 0 3vw 0;
  height: auto;
  display: block;
  margin: 0 auto;
}

.close {
  position: absolute;
  right: 1vw;
  top: 1vw;
  width: 3.5vw;
  height: 3.5vw;
  z-index: 500;
}

.close:hover {
  transform: scale(1.3);
  transition: 0.3s ease;
  cursor: pointer;
}

.compressed {
  width: 2.5vw;
}

.season {
  height: 100vh;
  transition: 0.3s;
  position: relative;
}

.overview {
  width: 10vw;
  cursor: pointer;
}

.zoomview {
  width: 70vw;
}

.season_nr {
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  bottom: 10vh;
  pointer-events: none;
}

#season_1:hover,
#season_1.zoomview,
#season_1.hovercolor {
  background-color: var(--season-1);
}

#season_2:hover,
#season_2.zoomview,
#season_2.hovercolor {
  background-color: var(--season-2);
}

#season_3:hover,
#season_3.zoomview,
#season_3.hovercolor {
  background-color: var(--season-3);
}

#season_4:hover,
#season_4.zoomview,
#season_4.hovercolor {
  background-color: var(--season-4);
}

#season_5:hover,
#season_5.zoomview,
#season_5.hovercolor {
  background-color: var(--season-5);
}

#season_6:hover,
#season_6.zoomview,
#season_6.hovercolor {
  background-color: var(--season-6);
}

#season_7:hover,
#season_7.zoomview,
#season_7.hovercolor {
  background-color: var(--season-7);
}

#season_1.compressed,
#season_2.compressed,
#season_3.compressed,
#season_4.compressed,
#season_5.compressed,
#season_6.compressed,
#season_7.compressed {
  background-color: #000;
  border-left: 1px rgb(53, 53, 53) solid;
  cursor: pointer;
}

#season_7.compressed {
  border-right: 1px rgb(53, 53, 53) solid;
}

#season_1.compressed:hover {
  background-color: var(--season-1-hover);
}

#season_2.compressed:hover {
  background-color: var(--season-2-hover);
}

#season_3.compressed:hover {
  background-color: var(--season-3-hover);
}

#season_4.compressed:hover {
  background-color: var(--season-4-hover);
}

#season_5.compressed:hover {
  background-color: var(--season-5-hover);
}

#season_6.compressed:hover {
  background-color: var(--season-6-hover);
}

#season_7.compressed:hover {
  background-color: var(--season-7-hover);
}

#seasons .featured_svg {
  position: absolute;
  bottom: 0;
  width: 130px;
  height: auto;
  bottom: 34vh;
  left: -65px;
  pointer-events: none;
  z-index: 500;
}

#seasons .compressed .featured_svg {
  opacity: 0;
  transition: 0.5s;
}

#seasons .compressed .close {
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}

#seasons .featured_svg .featured {
  pointer-events: all;
}

/* - - - - - - - svg styles - - - - - - -  */

.cls-1,
.cls-3,
.cls-5 {
  fill: none;
}

.cls-2 {
  fill: #fff;
}

.cls-3,
.cls-5 {
  stroke: #fff;
  stroke-miterlimit: 10;
}

.cls-3 {
  stroke-width: 2px;
}

.clippath-1 {
  clip-path: url(#clip-path-1);
}

.clippath-2 {
  clip-path: url(#clip-path-2);
}

.clippath-3 {
  clip-path: url(#clip-path-3);
}

.clippath-4 {
  clip-path: url(#clip-path-4);
}

.clippath-5 {
  clip-path: url(#clip-path-5);
}

/* - - - - - - - svg animations - - - - - - -  */

.small {
  transform: scale(0);
}

.hidden {
  display: none;
}

.appear {
  animation: appear_frames 0.5s ease-in forwards;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes appear_frames {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.flip {
  animation: flip_frames 0.3s ease-in forwards;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes flip_frames {
  0% {
    transform: perspective(0) rotateY(0deg) rotateX(0deg) scale(0.8);
  }
  100% {
    transform: perspective(0) rotateY(-180.1deg) rotateX(0deg) scale(1.6);
  }
}

.flipped {
  transform-box: fill-box;
  transform-origin: center;
  transform: perspective(0) rotateY(-180.1deg) rotateX(0deg) scale(1.6);
}

.flipped:hover {
  transform: perspective(0) rotateY(-180.1deg) rotateX(0deg) scale(1.9);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.flipped_expanded {
  transform: perspective(0) rotateY(-180.1deg) rotateX(0deg) scale(1.9);
  transition: 1s;
}

.flipped_expanded:hover {
  transform: perspective(0) rotateY(-180.1deg) rotateX(0deg) scale(2.2);
  transition: 1s;
}

.flipback {
  animation: flipback_frames 0.3s ease-in forwards;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes flipback_frames {
  0% {
    transform: perspective(0) rotateY(-180.1deg) rotateX(0deg) scale(1.6);
  }
  100% {
    transform: perspective(0) rotateY(0deg) rotateX(0deg) scale(0.8);
  }
}

.hide_symbol {
  animation: hide_symbol_frames 0.3s ease-in forwards;
  transform-origin: center;
}

@keyframes hide_symbol_frames {
  0% {
    visibility: visible;
  }

  50% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}

.show_symbol {
  animation: show_symbol_frames 0.3s ease-in forwards;
  transform-origin: center;
}

@keyframes show_symbol_frames {
  0% {
    visibility: hidden;
  }

  50% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

.drawline {
  animation: drawline_frames 0.5s ease-in forwards;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

@keyframes drawline_frames {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.lineback {
  animation: lineback_frames 0.5s ease-in forwards;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

@keyframes lineback_frames {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1000;
  }
}

.scalein {
  animation: scalein_frames 0.2s ease-in forwards;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes scalein_frames {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.scaledin {
  transform-origin: center;
  transform-box: fill-box;
  transform: scale(1);
}

.scaleout {
  animation: scaleout_frames 0.2s ease-in backwards;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes scaleout_frames {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/* - - - - - - - - - - timeline stuff  - - - - - - - - - -  */

#timeline {
  width: 100%;
  position: absolute;
  bottom: 30vh;
  z-index: 100;
  pointer-events: none;
}

#timeline #slider {
  width: 100%;
  pointer-events: none;
}

#timeline input[type="range"] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
}

#timeline input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

#timeline input[type="range"]:focus {
  outline: none;
  /* watch out for accecebility */
}

#timeline input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

#timeline input[type="range"] {
  height: 1px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: #fff;
  border-radius: 1px;
  pointer-events: none;
}

#timeline input[type="range"]::-webkit-slider-thumb {
  border: 1px solid #fff;
  background: #858484;
  width: 14px !important;
  height: 26px !important;
  cursor: pointer;
  pointer-events: auto;
}

#timeline input[type="range"]::-moz-range-thumb {
  border: 1px solid #fff;
  background: #858484;
  width: 14px !important;
  height: 26px !important;
  cursor: pointer;
  pointer-events: auto;
}

#timeline input[type="range"]::-ms-thumb {
  border: 1px solid #fff;
  background: #858484;
  width: 14px !important;
  height: 26px !important;
  cursor: pointer;
  pointer-events: auto;
}

#deathcounter {
  color: #fff;
  width: 12vw;
  height: 10vh;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  font-size: 3rem;
  line-height: 3rem;
}

#modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 888 !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal.hidden {
  opacity: 0;
  pointer-events: none;
}

#modal_box {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 999;
  border: 2px;
  pointer-events: none;
  min-width: 112px;
  min-height: 112px;
  align-self: center;
  padding: 3vw;
}

#modal img {
  border-radius: 50%;
  border: 2px solid #fff;
  max-width: 130px;
  max-height: 130px;
}

.fadeout {
  opacity: 0;
  pointer-events: none;
}

#modal_box.scale {
  left: 25%;
  top: 25%;
  width: 50%;
  min-height: 50%;
  transition: 0.5s;
  pointer-events: all;
  border: 2px solid #fff;
}

#modal_box.scale img {
  position: absolute;
  left: -56px;
  top: -56px;
  transform: scaleX(-1) scale(1.2);
  transform-origin: center;
  transform-box: fill-box;
  transition: 0.5s;
}
